<!DOCTYPE html>
<html>
  <head>
	<title>{{ page.title }}</title>
	<!-- link to main stylesheet -->
	<link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
  <body>
    <div class="header">
      <img src="/image/HowToKap-Banner.png"
           alt="How to KAP, A Guide to Kite Aerial Phography"/>
    </div>
	<nav>
	  <ul>
	    <li><a href="/">Home</a></li>
	    <li><a href="/tutorial">Tutorial</a></li>
		<li><a href="/about">About</a></li>
	    <li><a href="/blog">Blog</a></li>
	  </ul>
	</nav>
	<div class="container">
	  
	  {{ content }}
	  
	</div><!-- /.container -->
	<footer>
	  <ul>
	    <li><a href="mailto:dwheeler20874@gmail.com">email</a></li>
	    <li><a href="https://github.com/howtokap">github.com/howtokap</a></li>
	  </ul>
	</footer>
  </body>
</html>
